@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 62.5%;
  color: #f4f4f4;
  background-color: #1d1e22;
}
.scrolls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
}
.scrolls .center {
  font-size: 0.825rem;
}
.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-image: linear-gradient(
    180deg,
    #1d1e22,
    rgba(29, 30, 34, 0.1),
    transparent
  );
  mix-blend-mode: luminosity;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.header ul li {
  margin: 0 1em;
  padding: 1em;
}
.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #f4f4f4;
}
.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}
.header ul li a:hover::after {
  width: 100%;
  background-color: #f4f4f4;
}
section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-flow: column wrap;
  background-position-y: 50%;
  font-size: 1rem;
  background-color: #f4f4f4;
  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
  background-size: cover;
  scroll-snap-align: center;
}
section h3 {
  text-transform: uppercase;
  font-size: 3.25rem;
  font-weight: 900;
  padding: 0.5em 1em;
  color: #1d1e22;
  /*  background-color: #f4f4f4; */
  mix-blend-mode: screen;
  border-radius: 0.25em;
  pointer-events: none;
  user-select: none;
}
section:nth-child(2) {
  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
  background-position-y: 50%;
}
section:nth-child(3) {
  background-position-y: 50%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}
section:nth-child(4) {
  background-position-y: 50%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}

section:nth-child(5) {
  background-position-y: 50%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}
section:nth-child(6) {
  background-position-y: 57%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}
section:nth-child(7) {
  background-position-y: 40%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}
section:nth-child(8) {
  background-position-y: 50%;

  background-image: url(https://tan-top-hummingbird-696.mypinata.cloud/ipfs/QmTQY5Ffz5rELs2gP8nQr5xF9mz7ugBr5E1LY6xg68ftTi);
}
.social {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: red;
  font-family: verdana;
  padding: 5px;
  border-radius: 5px;
  animation: new 0.5s linear infinite;
  margin-top: -50px;
}
.social a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
@keyframes new {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.95);
  }
  100% {
    transform: scaleX(1);
  }
}

.saliindex {
  z-index: 99 !important;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#71ab2a, #71ab2a);
  background-size: 0 10px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#71ab2a, #71ab2a);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.classenav {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
